body {
    background-color: aliceblue;
    background: url(images/246131.jpg);
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Arial,sans-serif;
}

.container {
    text-align: center;
    width: 200px;
}

h1 {
    margin-bottom: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100px;
    box-sizing :border-box;
}

button{
    padding: 8px 15px;
    background-color: aqua;
    color: wheat;
    border: none;
    cursor: pointer;
}
@media only screen and (max-width:768px){
    .box-area{
        margin: 0 10px;

    }
    .left.box{
        height: 100px;
        overflow: hidden;
    }
    .right.box{
        padding: 20px;
    }
}